body{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    overflow: hidden;
}




a{
    text-decoration: none;
    color: black;
}




#header{
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: sticky;
    top: 7%;
   
    
   z-index: 10;
    
  
    
}

#sections{
    width: 40%;
    display:flex;
    justify-content: space-between;
   
}

.button:hover{
    color:orange;
}





#parent{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 3%;
    
}



h1{
   color: orange;
   font-size: 2em;
}




canvas{
    height: 90vh;
    width: 100vw;
    position: fixed;
    top: 20%;
    left: -50%;
    
   
}

#canvasB{
    height: 90vh;
    width: 100vw;
    position: fixed;
    top: 30%;
    left: -30%;
}

#canvasC{
    height: 90vh;
    width: 100vw;
    position: fixed;
    top: 10%;
    left: -70%;
}
.curves{
    z-index: -10;
    
}

